{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Steal My Idea - Admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'ideas:home' %}">Steal My Idea!</a></h1>
<h2>{% trans 'Feed Me Ideas - That They May Be Stolen and Brought To Life' %}</h2>
<br />
<h2>All ideas submitted will be made publicly available under the 
<a href="http://www.wtfpl.net/" target="_blank">WTFPL</a> free license</h2>
{% endblock %}

{% block nav-global %}{% endblock %}
