{% include 'ideas/header.html' %}

<h1>About</h1>
<p>Have you ever come up with an amazing idea and just wanted to 
share it with someone who might make it happen?</p>
<p>Steal my idea is a free open source website you can use to post 
ideas you have come up with. It&#39;s for ideas you want to give away.</p>
<p>We believe that there are millions of ideas in the world which 
are seeking founders who can bring them to life. Little can stop 
a motivated entrepreneur with a good idea that&#39;s come at the right 
time. If you&#39;re an entrepreneur looking for an idea, look here! 
All the ideas are free and open intellectual property. The idea 
creators who posted the idea want to you steal it!</p>
<p>Who&#39;s behind this site? We are the co-founder team of 
<a href="http://www.greenpag.es/">www.greenpag.es</a>, Katie Patrick 
and Jesse Browne. We started this site as a fun project to test drive 
django and as a place to put all our own ideas. We have lots of ideas 
we wanted other people to steal! Our friends had ideas as well, 
and so the site was born.</p>
<p>We hope other people will add their ideas, founders will discover 
them hence many beautiful unions to be made and the world to be a more 
innovative, fun and excellent place to live.</p>
<p>If you&#39;re a developer and like the sound of this you can help 
shape Steal My Idea. Feel free to fork the project on github and 
send us pull request. We&#39;ll acknowledge all contributors.</p>

{% include 'ideas/footer.html' %}