<meta charset="utf-8">
<title>Steal My Idea! {{ idea.title }}</title>
<!-- Bootstrap -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Steal My Idea!">

{% load staticfiles %}
<link rel="shortcut icon" href="{% static 'ideas/steal-my-idea-icon.ico' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'ideas/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'ideas/bootstrap-responsive.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'ideas/fontfaces.css' %}" />

<!-- Open Graph Object Meta -->
<meta property="og:title" content="Steal My Idea! {{ idea.title }}" />
<meta property="og:image" content="http://www.stealmyidea.co/static/ideas/steal-my-idea-logo.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="400" />

<!--[if IE]>
  <link rel="stylesheet" type="text/css" href="{% static 'ideas/gh-fork-ribbon.ie.css' %}" />
<![endif]-->
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="{% static 'ideas/html5shiv.js' %}"></script>
<![endif]-->
<!--[if IE 7]>
  <link rel="stylesheet" href="{% static 'ideas/fontawesome.ie7.css' %}">
<![endif]-->

<div id="fb-root"></div>
<script async>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="wrapper">
  <header>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <nav>
            <a class="brand" href="{% url 'ideas:home' %}">Steal My Idea!</a>
            <ul class="nav">
              <li><a href="{% url 'admin:index' %}ideas/idea/add/">Add</a></li>
              <li><a href="{% url 'ideas:index' %}">Find</a></li>
            </ul>
            <ul class="nav" id="right">
              <li><a href="https://www.facebook.com/stealmyidea.co"><i class="icon-facebook-sign"></i></a></li>
              <li><a href="https://github.com/jesse-browne/steal-my-idea" title="Fork me on GitHub"><i class="icon-github"></i></a></li>
              {% if user.is_authenticated %}
              <li><a href="{% url 'ideas:profile' user.id %}" title="My {{ user.username }} profile page">{{ user.username }}</a></li>
              <li><a href="{% url 'admin:index' %}ideas/idea/" title="Edit my ideas"><i class="icon-edit"></i></a></li>
              <li><a href="{% url 'admin:index' %}" title="My admin interface"><i class="icon-cog"></i></a></li>
              <li><a href="{% url 'admin:logout' %}?next=/" title="Log out"><i class="icon-signout"></i></a></li>
              {% else %}
              <li><a href="{% url 'ideas:adduser' %}">Register</a></li>
              <li><a href="/admin/login/?next={% url 'ideas:home' %}">Log In</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>  
  <div class="container">