{% include 'ideas/header.html' %}

<h1>{{ idea.title }}</h1>
<div>Up Votes {{ idea.votes }}</div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'ideas:upvote' idea.id %}" method="post">
{% csrf_token %}
    <input type="hidden" name="vote" id="vote" value ="{{ idea.id }}" />
    <input type="submit" value="Up Vote This Idea" />
</form>

<div>{{ idea.date_published }}</div>
<div>{{ idea.author_wants }}</div>
<div>{{ idea.description }}</div>

{% include 'ideas/footer.html' %}