{% include 'ideas/header.html' %}

<h1>{{ idea.title }}</h1>
<div>Up Votes {{ idea.votes }}</div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'ideas:upvote' idea.id %}" method="post">
{% csrf_token %}
    <input type="hidden" name="vote" id="vote" value ="{{ idea.id }}" />
    <input type="submit" value="Up Vote This Idea" />
</form>

<div>Posted by {{ idea.author.username }} on {{ idea.date_published }}</div>
<div>{{ idea.description|linebreaks }}</div>
<div>I want {{ idea.author_wants }}</div>

{% if idea.author_wants == 'help! Work with me to make this idea a reality, email me to get started.' %}
    <div>If you're interested reach out to me at {{ idea.author.email|urlize }}</div>
{% endif %}

<!-- START: Livefyre Embed -->
<div id="livefyre-comments"></div>
<script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
<script type="text/javascript">
(function () {
    var articleId = fyre.conv.load.makeArticleId(null);
    fyre.conv.load({}, [{
        el: 'livefyre-comments',
        network: "livefyre.com",
        siteId: "345446",
        articleId: articleId,
        signed: false,
        collectionMeta: {
            articleId: articleId,
            url: fyre.conv.load.makeCollectionUrl(),
        }
    }], function() {});
}());
</script>
<!-- END: Livefyre Embed -->

{% include 'ideas/footer.html' %}